# EDA

## Combine Data

In [2]:
# imports
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib as plt

In [3]:
combine = pd.read_csv('./src/combine_data.csv')

In [4]:
combine.head()

,season,draft_year,draft_team,draft_round,draft_ovr,pfr_id,cfb_id,player_name,pos,school,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle
0,2018,2018.0,San Francisco 49ers,2.0,44.0,PettDa00,dante-pettis-1,Dante Pettis,WR,Washington,6-0,186.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,2018.0,Indianapolis Colts,2.0,52.0,TuraKe00,kemoko-turay-1,Kemoko Turay,EDGE,Rutgers,6-5,253.0,4.65,NaN,NaN,NaN,NaN,NaN
2,2018,NaN,NaN,NaN,NaN,AdamJo03,josh-adams-2,Josh Adams,RB,Notre Dame,6-2,213.0,NaN,18.0,NaN,NaN,NaN,NaN
3,2018,NaN,NaN,NaN,NaN,NaN,NaN,Ola Adeniyi,EDGE,Toledo,6-2,248.0,4.83,26.0,31.5,NaN,7.21,4.28
4,2018,2018.0,Houston Texans,3.0,98.0,AkinJo00,jordan-akins-1,Jordan Akins,TE,Central Florida,6-3,249.0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
combine.tail()

,season,draft_year,draft_team,draft_round,draft_ovr,pfr_id,cfb_id,player_name,pos,school,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle
1792,2022,2022.0,Green Bay Packers,1.0,28.0,WyatDe00,devonte-wyatt-1,Devonte Wyatt,DT,Georgia,6-3,304.0,4.77,NaN,29.0,111.0,NaN,NaN
1793,2022,NaN,NaN,NaN,NaN,WydeJa00,jalen-wydermyer-1,Jalen Wydermyer,TE,Texas A&M,6-4,255.0,NaN,NaN,NaN,NaN,NaN,NaN
1794,2022,2022.0,Cleveland Browns,4.0,124.0,YorkCa00,cade-york-1,Cade York,K,LSU,6-1,206.0,NaN,12.0,NaN,NaN,NaN,NaN
1795,2022,2022.0,San Francisco 49ers,6.0,187.0,ZakeNi00,NaN,Nick Zakelj,OT,Fordham,6-6,316.0,5.13,27.0,28.5,110.0,7.75,4.71
1796,2022,2022.0,New England Patriots,4.0,137.0,ZappBa00,bailey-zappe-1,Bailey Zappe,QB,Western Kentucky,6-1,215.0,4.88,NaN,30.0,109.0,7.19,4.40

In [8]:
combine.shape

(1797, 18)

In [9]:
combine.isnull().sum()

season           0
draft_year     722
draft_team     722
draft_round    722
draft_ovr      722
pfr_id         229
cfb_id         116
player_name      0
pos              0
school           0
ht              29
wt              24
forty          368
bench          671
vertical       405
broad_jump     440
cone           815
shuttle        770
dtype: int64

In [ ]:
## same numbers for missing values in draft year/team/round/overall
## checked josh adams who was undrafted free agent, would guess that 722 players went to the combine and werent drafted
## other missing data looks to be from opting out of a drill

## Injury Data

In [11]:
injury = pd.read_csv('./src/injuries.csv')

In [17]:
injury.head()

,season,game_type,team,week,gsis_id,position,full_name,first_name,last_name,report_primary_injury,report_secondary_injury,report_status,practice_primary_injury,practice_secondary_injury,practice_status,date_modified
0,2022,REG,ARI,1,00-0027993,C,Rodney Hudson,Rodney,Hudson,NaN,NaN,NaN,Not injury related - resting player,NaN,Did Not Participate In Practice,2022-09-07 21:10:03+00:00
1,2022,REG,ARI,1,00-0028946,LS,Aaron Brewer,Aaron,Brewer,NaN,NaN,NaN,Ankle,NaN,Full Participation in Practice,2022-09-09 19:55:06+00:00
2,2022,REG,ARI,1,00-0032127,LB,Markus Golden,Markus,Golden,NaN,NaN,NaN,Toe,NaN,Full Participation in Practice,2022-09-09 19:55:29+00:00
3,2022,REG,ARI,1,00-0034490,LB,Ezekiel Turner,Ezekiel,Turner,NaN,NaN,NaN,Shoulder,NaN,Full Participation in Practice,2022-09-09 19:55:44+00:00
4,2022,REG,ARI,1,00-0035924,RB,Jonathan Ward,Jonathan,Ward,NaN,NaN,NaN,Shoulder,NaN,Full Participation in Practice,2022-09-09 19:55:49+00:00

In [13]:
injury.tail()

,season,game_type,team,week,gsis_id,position,full_name,first_name,last_name,report_primary_injury,report_secondary_injury,report_status,practice_primary_injury,practice_secondary_injury,practice_status,date_modified
5677,2022,SB,PHI,22,00-0028129,C,Jason Kelce,Jason,Kelce,NaN,NaN,NaN,Not injury related - resting player,NaN,Limited Participation in Practice,2023-02-10 00:26:50+00:00
5678,2022,SB,PHI,22,00-0032954,G,Isaac Seumalo,Isaac,Seumalo,NaN,NaN,NaN,Not injury related - resting player,NaN,Limited Participation in Practice,2023-02-10 00:27:07+00:00
5679,2022,SB,PHI,22,00-0030062,CB,Darius Slay,Darius,Slay,NaN,NaN,NaN,Not injury related - resting player,NaN,Limited Participation in Practice,2023-02-10 00:27:38+00:00
5680,2022,SB,PHI,22,00-0034381,DE,Josh Sweat,Josh,Sweat,NaN,NaN,NaN,Not injury related - resting player,NaN,Limited Participation in Practice,2023-02-10 00:28:12+00:00
5681,2022,SB,PHI,22,00-0037132,WR,Britain Covey,Britain,Covey,Hamstring,NaN,Questionable,Hamstring,NaN,Limited Participation in Practice,2023-02-10 21:33:17+00:00

In [15]:
injury.isnull().sum()

season                          0
game_type                       0
team                            0
week                            0
gsis_id                         0
position                        0
full_name                       0
first_name                      0
last_name                       0
report_primary_injury        2937
report_secondary_injury      5483
report_status                2937
practice_primary_injury        27
practice_secondary_injury    5277
practice_status                 0
date_modified                   0
dtype: int64

## Rosters

In [18]:
roster = pd.read_csv('./src/team_rosters.csv')

In [19]:
roster.head()

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
0,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.279
1,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.432
2,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.355
3,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.413
4,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.202

In [20]:
roster.tail()

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
46158,2022,ATL,WR,WR,80.0,DEV,Josh Ali,Josh,Ali,NaN,...,P01,Josh,ALI103821,55557,NaN,2022,2022.0,NaN,NaN,NaN
46159,2022,IND,K,K,3.0,DEV,Lucas Havrisik,Lucas,Havrisik,NaN,...,P01,Lucas,HAV723174,55323,NaN,2022,2022.0,NaN,NaN,NaN
46160,2022,ATL,WR,WR,80.0,DEV,Josh Ali,Josh,Ali,NaN,...,P01,Josh,ALI103821,55557,NaN,2022,2022.0,NaN,NaN,NaN
46161,2022,ATL,WR,WR,80.0,DEV,Josh Ali,Josh,Ali,NaN,...,P01,Josh,ALI103821,55557,NaN,2022,2022.0,NaN,NaN,NaN
46162,2022,ATL,WR,WR,80.0,DEV,Josh Ali,Josh,Ali,NaN,...,P01,Josh,ALI103821,55557,NaN,2022,2022.0,NaN,NaN,NaN

In [21]:
roster.isnull().sum()

season                         0
team                           0
position                       0
depth_chart_position           0
jersey_number                145
status                         0
player_name                    0
first_name                     0
last_name                      0
birth_date                   373
height                        46
weight                         2
college                       27
player_id                     27
espn_id                    16249
sportradar_id              13636
yahoo_id                   19909
rotowire_id                13636
pff_id                     17813
pfr_id                     24618
fantasy_data_id            21484
sleeper_id                 13636
years_exp                      0
headshot_url                1277
ngs_position               24768
week                           0
game_type                      0
status_description_abbr        0
football_name                  0
esb_id                        91
gsis_it_id                     0
smart_id                     148
entry_year                     0
rookie_year                    1
draft_club                 16600
draft_number               16600
age                          525
dtype: int64