In [4]:
# imports
import pandas as pd
import math

### 1. Cleaning `team_rosters.csv` Data

In [5]:
# read data
rosters = pd.read_csv('./data/team_rosters.csv')

rosters.head(3)

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
0,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.279
1,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.432
2,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.355

In [6]:
# all the rows are repeating 18 times, 1 row for each week in the season
# let's view the columns
list(rosters.columns)

['season',
 'team',
 'position',
 'depth_chart_position',
 'jersey_number',
 'status',
 'player_name',
 'first_name',
 'last_name',
 'birth_date',
 'height',
 'weight',
 'college',
 'player_id',
 'espn_id',
 'sportradar_id',
 'yahoo_id',
 'rotowire_id',
 'pff_id',
 'pfr_id',
 'fantasy_data_id',
 'sleeper_id',
 'years_exp',
 'headshot_url',
 'ngs_position',
 'week',
 'game_type',
 'status_description_abbr',
 'football_name',
 'esb_id',
 'gsis_it_id',
 'smart_id',
 'entry_year',
 'rookie_year',
 'draft_club',
 'draft_number',
 'age']

In [7]:
# drop these columns INCLUDING week --> that way we can remove the duplicates and just get single rows PER player
drop_cols = ['depth_chart_position','jersey_number','birth_date','college','espn_id',
 'sportradar_id',
 'yahoo_id',
 'rotowire_id',
 'pff_id',
 'pfr_id',
 'fantasy_data_id',
 'sleeper_id',
 'years_exp',
 'headshot_url',
 'ngs_position',
 'week',
 'status_description_abbr',
 'football_name',
 'esb_id',
 'smart_id',
 'entry_year',
 'rookie_year',
 'draft_club',
 'draft_number',]

In [8]:
rosters.drop(drop_cols, axis = 1, inplace = True)

In [9]:
# some missing values
rosters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46163 entries, 0 to 46162
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   season       46163 non-null  int64
 1   team         46163 non-null  object
 2   position     46163 non-null  object
 3   status       46163 non-null  object
 4   player_name  46163 non-null  object
 5   first_name   46163 non-null  object
 6   last_name    46163 non-null  object
 7   height       46117 non-null  float64
 8   weight       46161 non-null  float64
 9   player_id    46136 non-null  object
 10  game_type    46163 non-null  object
 11  gsis_it_id   46163 non-null  int64
 12  age          45638 non-null  float64
dtypes: float64(3), int64(2), object(8)
memory usage: 4.6+ MB

In [10]:
# in this case - ANY missing data is not helpful to us --> let's drop any rows with missing data
rosters.isna().sum()

season           0
team             0
position         0
status           0
player_name      0
first_name       0
last_name        0
height          46
weight           2
player_id       27
game_type        0
gsis_it_id       0
age            525
dtype: int64

In [11]:
rosters.dropna(inplace = True)

In [12]:
# I want to convert 'age' to an integer --> we are getting unique rows because age is changing for each week's entry
rosters['age'] = rosters['age'].apply(math.floor)

In [13]:
# how many unique players are there --> check via 'player_id'
len(set(rosters['player_id'].unique()))

2908

In [14]:
# now let's drop duplicates, based on player_id
rosters.drop_duplicates(subset = ['player_id'])

,season,team,position,status,player_name,first_name,last_name,height,weight,player_id,game_type,gsis_it_id,age
0,2022,TB,QB,ACT,Tom Brady,Tom,Brady,76.0,225.0,00-0019596,REG,25511,45
18,2022,DAL,OL,ACT,Jason Peters,Jason,Peters,76.0,328.0,00-0022531,REG,29550,40
37,2022,ARI,P,ACT,Andy Lee,Andy,Lee,73.0,185.0,00-0022824,REG,29141,40
54,2022,SF,K,ACT,Robbie Gould,Robbie,Gould,72.0,190.0,00-0023252,REG,30403,39
74,2022,GB,QB,ACT,Aaron Rodgers,Aaron,Rodgers,74.0,225.0,00-0023459,REG,29851,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46064,2022,IND,DB,DEV,Marcel Dabo,Marcel,Dabo,72.0,208.0,00-0038143,REG,55065,22
46081,2022,HOU,DL,DEV,Adedayo Odeleye,Adedayo,Odeleye,77.0,272.0,00-0038144,REG,55066,25
46098,2022,TEN,TE,DEV,Thomas Odukoya,Thomas,Odukoya,78.0,260.0,00-0038145,REG,55197,25
46116,2022,CLE,WR,DEV,Daylen Baldwin,Daylen,Baldwin,74.0,219.0,00-0038147,REG,55503,22
46134,2022,ATL,WR,ACT,Josh Ali,Josh,Ali,72.0,193.0,00-0038149,REG,55557,23

---

### 2. Cleaning `injuries.csv` Data

In [16]:
# read data
inj = pd.read_csv('./data/injuries.csv')

inj.head(3)

,season,game_type,team,week,gsis_id,position,full_name,first_name,last_name,report_primary_injury,report_secondary_injury,report_status,practice_primary_injury,practice_secondary_injury,practice_status,date_modified
0,2022,REG,ARI,1,00-0027993,C,Rodney Hudson,Rodney,Hudson,NaN,NaN,NaN,Not injury related - resting player,NaN,Did Not Participate In Practice,2022-09-07 21:10:03+00:00
1,2022,REG,ARI,1,00-0028946,LS,Aaron Brewer,Aaron,Brewer,NaN,NaN,NaN,Ankle,NaN,Full Participation in Practice,2022-09-09 19:55:06+00:00
2,2022,REG,ARI,1,00-0032127,LB,Markus Golden,Markus,Golden,NaN,NaN,NaN,Toe,NaN,Full Participation in Practice,2022-09-09 19:55:29+00:00

In [18]:
inj[inj['full_name'] == 'Aaron Brewer']

,season,game_type,team,week,gsis_id,position,full_name,first_name,last_name,report_primary_injury,report_secondary_injury,report_status,practice_primary_injury,practice_secondary_injury,practice_status,date_modified
1,2022,REG,ARI,1,00-0028946,LS,Aaron Brewer,Aaron,Brewer,NaN,NaN,NaN,Ankle,NaN,Full Participation in Practice,2022-09-09 19:55:06+00:00
2292,2022,REG,TEN,8,00-0036171,G,Aaron Brewer,Aaron,Brewer,NaN,NaN,NaN,Toe,NaN,Full Participation in Practice,2022-10-28 19:14:57+00:00
2567,2022,REG,TEN,9,00-0036171,G,Aaron Brewer,Aaron,Brewer,NaN,NaN,NaN,Toe,NaN,Full Participation in Practice,2022-11-04 19:11:39+00:00
2881,2022,REG,TEN,10,00-0036171,G,Aaron Brewer,Aaron,Brewer,NaN,NaN,NaN,Toe,NaN,Limited Participation in Practice,2022-11-11 20:42:46+00:00
3166,2022,REG,TEN,11,00-0036171,G,Aaron Brewer,Aaron,Brewer,NaN,NaN,NaN,Toe,NaN,Full Participation in Practice,2022-11-16 20:28:53+00:00
4793,2022,REG,TEN,16,00-0036171,G,Aaron Brewer,Aaron,Brewer,Rib,NaN,Questionable,Rib,NaN,Limited Participation in Practice,2022-12-22 20:16:55+00:00
5101,2022,REG,TEN,17,00-0036171,G,Aaron Brewer,Aaron,Brewer,NaN,NaN,NaN,Calf,NaN,Full Participation in Practice,2022-12-28 20:56:23+00:00